.productItem__wrapper {
  $color-default: #1698d9;
  $color-default-hover: #2ea8e6;
  $color-selected: #d91667;
  $color-selected-hover: #e52e7a;
  $color-disabled: #b3b3b3;

  position: relative;
  overflow: hidden;
  @media only screen and (min-width: 768px) and (max-width: 1140px) {
    flex: 0 0 50%;
    margin-bottom: 40px;
  }

  @media only screen and (max-width: 768px) {
    width: 540px;
    flex: 1 1 100%;
    margin-bottom: 40px;
  }
  .decor {
    width: 15px;
    height: 74px;
    border-left: 4px solid $color-default;
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 21px;
    transform: rotate(45deg);
    transition: 0.3s;
    &:before {
      content: "";
      position: absolute;
      width: 15px;
      height: 74px;
      border-left: 5px solid $color-default;
      background-color: #fff;
      transform: rotate(45deg);
      top: -52px;
      left: 20px;
      transition: 0.3s;
    }
    &:after {
      content: "";
      position: absolute;
      width: 15px;
      height: 74px;
      border-left: 5px solid $color-default;
      background-color: #fff;
      transform: rotate(-45deg);
      top: 54px;
      left: 20px;
      transition: 0.3s;
    }
  }
  .actionDescription {
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    padding: 14px 0;

    span {
      color: $color-default;
      display: inline-block;
      position: relative;
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        height: 1px;
        width: calc(100% - 5px);
        border-bottom: 1px dashed $color-default;
        left: 0;
        bottom: 0;
      }
    }
  }

  .productItem {
    $parent: ".productItem";

    background-color: #fff;
    height: 480px;
    width: 320px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px 45px;
    border-top-left-radius: 75px;
    position: relative;
    overflow: hidden;
    clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
    cursor: pointer;
    transition: 0.3s;

    &:before {
      content: "";
      position: absolute;
      width: 4px;
      height: 80px;
      transform: rotate(45deg);
      left: 17px;
      top: -20px;
      transition: 0.3s;
    }

    &.default {
      border: 4px solid $color-default;
      & ~ .decor {
        border-left-color: $color-default;
      }
      #{$parent}__size {
        background-color: $color-default;
      }
      &:hover {
        border: 4px solid $color-default-hover;
        & ~ .decor {
          border-left-color: $color-default-hover;
          &:before,
          &:after {
            border-left-color: $color-default-hover;
          }
        }
        #{$parent}__size {
          background-color: $color-default-hover;
        }
      }
    }

    &.selected {
      border: 4px solid $color-selected;
      & ~ .decor {
        border-left-color: $color-selected;
        &:before,
        &:after {
          border-left-color: $color-selected;
        }
      }
      #{$parent}__size {
        background-color: $color-selected;
      }
      &:hover {
        border: 4px solid $color-selected-hover;
        & ~ .decor {
          border-left-color: $color-selected-hover;
          &:before,
          &:after {
            border-left-color: $color-selected-hover;
          }
        }
        #{$parent}__size {
          background-color: $color-selected-hover;
        }
      }
    }

    &.disabled {
      border: 4px solid $color-disabled;
      & ~ .decor {
        border-left-color: $color-disabled;
        &:before,
        &:after {
          border-left-color: $color-disabled;
        }
      }
      & > *:not(#{$parent}__size) {
        opacity: 0.5;
      }
      #{$parent}__size {
        background-color: $color-disabled;
      }
      & + .actionDescription {
        color: #ffff66;
      }
    }

    &__titleFirm,
    &__desc {
      font-weight: normal;
      color: #666666;
    }

    &__title {
      font-weight: bold;
      font-size: 48px;
      line-height: 1.1;

      #{$parent}__type {
        font-size: 24px;
        display: block;
      }
    }

    &__titleFirm {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__desc {
      font-size: 14px;
      margin-bottom: 33px;
      margin-top: 15px;
    }

    &__imageWrapper {
      position: absolute;
      top: 203px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__size {
      position: absolute;
      bottom: 12px;
      right: 12px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      font-size: 42px;
      line-height: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      transition: 0.3s;
      span {
        font-size: 21px;
      }
    }
  }
}
