.app {
  background: url("./assets/img/pattern.jpg");
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 510px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 5e-5) 49.88%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
  &:after {
    content: "";
    display: inline-block;
    min-height: 100vh;
    visibility: hidden;
  }
  .container {
    width: 1120px;
    z-index: 0;
    @media only screen and (min-width: 928px) and (max-width: 1140px) {
      width: 960px;
    }
    @media only screen and (min-width: 769px) and (max-width: 927px) {
      width: 720px;
    }
    @media only screen and (max-width: 768px) {
      width: 510px;
    }
  }

  h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    margin-bottom: 18px;
    font-family: "Exo 2", sans-serif;
  }

  .productList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media only screen and (min-width: 768px) and (max-width: 1140px) {
      justify-content: center;
    }
  }
}
